# MySQL Cluster 8.0
#
#
# 設定參考
#	https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster-configuration-overview.html




#### Cluster 設定


[mysqld]
# Enable NDB Cluster
ndbcluster

# Address of NDB management server (若有多台，請用 , 區隔)
ndb-connectstring=mc80_mgm_1


[mysql_cluster]
ndb-connectstring=mc80_mgm_1




#### 一般設定


[mysqld]

# 指定身份執行 mysql (可以是 user name 或 user id)
user = mysql

# 目前使用 Docker MySQL Cluster 需要特別設定，否則會有錯誤
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid

# The server's default character set.
character_set_server = utf8mb4

# 時區 (SYSTEM | Asia/Taipei | +08:00 | +8:00)
default-time-zone = +08:00

# Error Log
#log_error = /var/log/mysql/error.log

# General Log
general_log = 0
general_log_file = /var/log/mysql/general.log

# Slow Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 3									# SQL 執行超過 n 秒，便記錄在 slow log (Slow Log 需要開啟設定)
log_queries_not_using_indexes = 1

# SQL mode
# 參考:
#	https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_sql_mode
#	https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html#sql-mode-full
sql_mode = NO_ENGINE_SUBSTITUTION

# 修正 phpMyAdmin 無法登入問題
# 調整登入驗證方式 (兼容 5.6) 或安裝 mysql_xdevapi (PHP extension)
# 參考: https://www.php.net/manual/en/mysqli.requirements.php
default_authentication_plugin = mysql_native_password
